.main-sidebar, .left-side {width:100%;min-height: 100px;}
.content-wrapper, .right-side {
	min-height: 100%;
	background-color: #ecf0f5;
	z-index: 800;
	margin: 0;
}
.content-wrapper {
   /* min-height:530px !important;*/
}
.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
}
.sidebar-menu>li>.treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
	position: absolute;
	z-index: 1000;
}
.sidebar-menu li > a>.pull-right {display:none;}
.main-footer {margin:0;}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #222d32;
	min-height: 105px;
}

.sidebar-menu>li>a {
	padding: 0 10px 0 10px;
	display: block;
	height: 55px;
	line-height: 55px;
	font-size:12px;
}
.sidebar {
    padding-bottom:0;
}

.hide {
    display: block!important;
}



/* menu new modification starts [10May2017] */
ul.sidebar-menu li {

}

ul.sidebar-menu li ul li, ul.sidebar-menu li ul li a {
    position:relative;
}

ul.sidebar-menu li ul li ul.sublevelshow {
    background: #2c3b41;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: auto;
    left: 100%;
    display:block !important;
    padding:0;
    font-size: 14px;
    line-height: 2.5;
    color: #333;
    list-style-type: none;
}
ul.sidebar-menu li ul li ul.sublevelshow li a {
    padding:10px 5px;
    line-height:normal;
    text-indent:1px;
}
.sidebar-menu .treeview-menu > li > ul > li > a > .fa, .sidebar-menu .treeview-menu > li > ul > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > ul > li > a > .ion {
    width: 16px !important;
    font-size: 10px !important;
}

/* menu new modification ends */
