<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="DBConnection">
      <section name="AdminSettings" type="System.Configuration.DictionarySectionHandler"/>
      <section name="GeneralSettings" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <!--   <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>-->
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <globalization uiCulture="en" culture="en-US"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--  <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      -->
       <!-- <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		-->
      </assemblies>
      <buildProviders>
        <!--  <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    -->
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <!-- <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
   -->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <!--    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="TIMEOUT" value="120"/>
    <add key="SALES_TTYPE" value="SL"/>
    <add key="PURCHASE_TTYPE" value="PU"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ORD_CUSTGRP" value="3"/>
    <add key="CSHID" value="3"/>
    <add key="CSHACC" value="CASH A/C"/>
    <add key="PUID" value="7"/>
    <add key="PUACC" value="LOCAL PURCHASE"/>
    <add key="UPUID" value="34"/>
    <add key="UPUACC" value="UNREGISTERED PURCHASE"/>
    <add key="SLID" value="4"/>
    <add key="SLACC" value="LOCAL SALES"/>
    <add key="DOCID" value="25"/>
    <add key="DEBITID" value="29"/>
    <add key="PRDACCID" value="18"/>
    <add key="DTIME" value="09:30"/>
    <add key="HostAdd" value="smtp.gmail.com"/>
    <add key="MailFrmAdd" value="info.coinone@gmail.com"/>
    <add key="MailPwd" value="29"/>
    <add key="Msg" value="Hi Welcome,"/>
    <add key="TARGET" value="FraDetails"/>
    <add key="ISINCLUSIVETAX" value="1"/>
    <add key="CUST_MENUID" value="2143"/>
    <add key="PATH" value="2143"/>
    <add key="ISAUTOSTK" value="1"/>
    <add key="ISAUTOENABLE" value="1"/>
    <add key="ISBARCODVISIBLE" value="0"/>
    <add key="ISBARCODENABLE" value="0"/>
    <add key="EFAID" value="6"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <DBConnection>
    <AdminSettings>
      <add key="SERVERNAME" value="15.206.140.189"/>
      <add key="PROVIDER" value="MSSQL"/>
      <add key="DATABASE" value="WEBSIS"/>
      <add key="USERNAME" value="sa"/>
      <add key="PASSWORD" value="625OzBKptx4RH9pQ/9EL0Q=="/>
    </AdminSettings>
    <GeneralSettings>
      <add key="SERVERNAME" value="15.206.140.189"/>
      <add key="PROVIDER" value="MSSQL"/>
      <add key="DATABASE" value="WEBSIS"/>
      <add key="USERNAME" value="sa"/>
      <add key="PASSWORD" value="625OzBKptx4RH9pQ/9EL0Q=="/>
    </GeneralSettings>
  </DBConnection>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
</configuration>